
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 15px;

}
.bg-img{
  background: url('../images/bg-image.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-attachment: fixed;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 37px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 37px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;

  border: none;
  outline: none;
  color: #222;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  right: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  padding-right: 60px;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="button"]{
  background: #252727;
  border: 1px solid #252727;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="button"]:hover{
  background: #291f1faf;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}



.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 14px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}


  @media (min-width: 991.98px) {
  main {
  padding-left: 240px;
  }
  }
  
  /* Sidebar */
  .sidebar {
  position: fixed;
  margin-top: 60px;
  top: 0;
  bottom: 0;
  font-size: 17px;
  left: 0;
  /* padding: 58px 0 0; Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  /* z-index: 600; */
  font-family: "Times New Roman", Times, serif;
  }
  
  @media (max-width: 991.98px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
  color: rgb(255 255 255 / 55%)!important;
  background-color: transparent !important;
}

.list-group-item-action active{
  width: 100%;
  color: #495057;
  text-align: inherit;
  color: white!important;
  background-color: transparent !important;
}

.bg-dark {
  background-color: #07021e!important;
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px double cornflowerblue;
}

.navbar-brand {
  margin-right: -3rem!important;
}
.table-card{

  margin: 85px 25px 5px 25px;
  opacity: 0.8;
  position: relative;
  scrollbar-gutter: stable; 
  --bs-table-bg: #fff;

}

.page-title {
  color: var(--white);
  font-weight: 300;
  line-height: 1;
  margin: 10px 5px 18px;
  font-size: larger;
}

.page-footer{
position: fixed;
/* margin-top: 100px; */
width: 100%;
bottom: 0;
background-color: #07021e;
/* z-index: 999; */
border-top: 1px double cornflowerblue;
color: white;
}


.modal-header{
padding: 8px !important;
}

.modal-footer{
  padding: 0px!important;
  font-size: 13px;
}

.form-control{
  padding: 3px!important;
  font-size: 13px!important;
  line-height: 2!important;
  display: table!important;
}

.modal-dialog {
  max-width: 800px!important;
  margin: 1.75rem auto;
  margin-top: 100px!important;
}

