{% extends 'new_header.html' %}

{% block nav %}

{% include 'nav.html' %}
{% endblock %}

{% block content %}


<div class="card table-card">
  <div class="row">
    <div class="col-lg-7 " style="border-bottom: 1px solid #00000030;">
      <h2 class="page-title"> <small>List Of added Vehicles</small> </h2>
    </div>
    <div class="col-lg-5" style="border-bottom: 1px solid #00000030;">
      <button type="button" style="float: right; margin: 10px 10px 10px 10px ;background-color: #315a83;
border-color: #315a83;" class="btn btn-primary btn-sm" data-placement="top" onclick="addVehicle();"
        data-original-title=".btn .btn-default .btn-sm" aria-describedby="tooltip753069">Add Vehicle</button>
    </div>




   












    <div class="col-md-6 hidden-xs" style="margin: 10px 2px 30px ;">
      <div class="dataTables_length" id="user-datatable-table_length">
        <label>
          <select name="user-datatable-table_length" aria-controls="user-datatable-table" class="">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </label>
      </div>
    </div>

  </div>
  <table id="vehicle-table" class="table" style="opacity: 0.8;scrollbar-gutter: stable; --bs-table-bg: whitesmoke;">
    <thead>
      <tr>
        <th>Vehicle_No</th>
        <th>Owner</th>
        <th>Vehicle_Type</th>
        <th>Owner_Licence</th>
        <th>Fine</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="vehicle_tbody">

    </tbody>
  </table>

</div>
</div>


 <!-- Modal Add  Vehicles-->
 <div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-clip: padding-box;">
      <div class="modal-header new-modal-header">
        <h6 class="modal-title" id="addVehicleModalLabel"><small>Add Vehicle Details</small></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">

             <div class="row col-lg-12">
              <div class="col-lg-6 form-group"> 
                  
                  
                      <label style="color: var(--white);font-weight: 600;font-size: 13px;" for="addVehicleNoDXB">Add Vehicle No</label>
                      <input type="text" class="form-control" id="addVehicleNoDXB" name="vehicle_no">
                  </div>
                  <div class="form-group tempsing-formsmtp col-lg-6">
                      
                          <label style="color: var(--white);font-weight: 600;font-size: 13px" for="addOwnerDXB">Add Owner Name</label>
                          <input type="text" class="form-control" id="addOwnerNameDXB" name="owner_name">
                  </div>
                  <div class="form-group tempsing-formsmtp col-lg-6">
                      
                      <label style="color: var(--white);font-weight: 600;font-size: 13px" for="addOwnerLicenceDXB">Add Owner Licence</label>
                      <input type="text" class="form-control" id="addOwnerLicenceDXB" name="owner_licence">
                  </div>
                  <div class="form-group tempsing-formsmtp col-lg-6">
                      
                      <label style="color: var(--white);font-weight: 600;font-size: 13px" for="addVehicleTypeDXB">Add Vehicle Type</label>
                      <input type="text" class="form-control" id="addVehicleTypeDXB" name="vehicle_type">
                  </div>
                  
          </div>
      </div>
      <div class="modal-footer" style="margin-top: 20px;">
          <button type="button" style="float: right; margin: 10px 10px 10px 10px ;background-color: #315a83;
          border-color: #315a83;" class="btn btn-primary btn-sm" data-placement="top" onclick="addVehicleDetails();" data-original-title=".btn .btn-default .btn-sm" aria-describedby="tooltip753069">Add User Details</button>
          </div>

      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}


{% endblock %}

{% block footer %}

<script>

  document.addEventListener('DOMContentLoaded', () => {
    fetch('/get_vehicles',{
      method: 'POST',
      body: null
    })
      .then(response => response.json())
      .then(vehicles => {
        // console.log("HIIIIIIII")
        // console.log(vehicles.data[0])
        if (vehicles.data.length > 0) {
          $("#vehicle_tbody").empty()
          for (i = 0; i < vehicles.data.length; i++) {
            $("#vehicle_tbody").append(`
                <tr>
                  <td>${vehicles.data[i].vehicle_no}</td>
                  <td>${vehicles.data[i].owner_name}</td>
                  <td>${vehicles.data[i].vehicle_type}</td>
                  <td>${vehicles.data[i].owner_licence}</td>
                  <td>${vehicles.data[i].fine_status}</td>
                  <td><a href="/edit_user" class=" btn"><i class="fa fa-edit fa-1x"></i></a>
                  <a href="/del_user" class="btn"><i class="fa fa-trash fa-1x"></i></a></td>
                  
                </tr>`)
          }
        }
      })
      .catch(error => {
        console.error('Error fetching users:', error);
      });
  });


   function addVehicle(){
    $("#addVehicleModal").modal("show");
  };

  function closeModal(){
    $("#addVehicleModal").modal("hide");
  }

  function addVehicleDetails(){
    add_vehicle_data = {
      vehicle_no : document.getElementById("addVehicleNoDXB").value,
      owner_name : document.getElementById("addOwnerNameDXB").value,
      owner_licence : document.getElementById("addOwnerLicenceDXB").value,
      vehicle_type : document.getElementById("addVehicleTypeDXB").value
    }
    var add_vehicle_data_url = {
      "url": "http://localhost:5000/add_vehicles",
      "method": "POST",
      "timeout": 0,
      "headers": {
      "Content-Type": "application/json"
      },
      "data": JSON.stringify(add_vehicle_data),
      };

      $.ajax(add_vehicle_data_url).done(function (response) {
        // console.log(response.status)
        // console.log(response.message)
        if(response.status == "success" )
        {
        success ('success', response.message)
        setTimeout(function() {
           window.location.href = "/vehicles_dash";
         }, 1000); 
        }
        else{
            
         success ('error', response.message)
        
         
         }
        });

  }

</script>



{% endblock %}