{% extends 'new_header.html' %}

{% block nav  %}
{% include 'nav.html' %}

<nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-dark " style="background-color: #07021e!important;">
    <div class="position-sticky">
       <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
         </a>

        </div>
    </div>
</nav>


{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}