

<nav id="sidebar" class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top" style="background-color: #07021e!important; position:fixed;" >
<div class="container-fluid">
    
        <a class="navbar-brand " href="/home" style="padding-right: 140px; padding-left: 57px;">SmartPlate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav nav-tabs abc">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home"><h5>Home</h5></a>
    </li>
    <li class="nav-item">
          
      <a class="nav-link " href="/get_live"><h5>Live</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/add_cctv"><h5>Add_CCTV</h5></a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/locations"><h5>Location</h5></a>
      </li>
    <li class="nav-item">
      <a class="nav-link " href="/vehicles_dash"><h5>Vehicles</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/get_users"><h5>Users</h5></a>
    </li>
    <li class="nav-item dropdown" style="padding-left: 600px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: auto;">
        <li class="dropdown-item" href="#">
        <div>
            <h3 style="font-size: 18px;margin-top: 9px;text-transform: capitalize;">Saurabh</h3>
            <h6 style="text-transform: capitalize;">Administrator</h7>
        </div>
        </li>
        <li><a class="dropdown-item" href="#">Account Setting</a></li>
        <li  slot="border-top: 2px border-color: black border-top-style: groove;"><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
</nav>